.header {
  background-color: blue;
  margin-bottom: 3em;
}

.footer {
  background-color: pink;
  margin-top: 3em;  
}

.media-left {
  display: inline-block;
}

.media-content {
  display: inline-block;
  padding-bottom: 3em;
}

.card-image {
  width : 10%;
}

#button {
  width: 30%;
  margin-left: 28em;
  margin-top: 0.5em;
}

.html {
  margin-left: 5em;
}