.header {
  background-color: blue;
  margin-bottom: 3em;
}

.footer {
  background-color: pink;
  margin-top: 3em;  
}

.media-left {
  display: inline-block;
}

.media-content {
  display: inline-block;
  padding-bottom: 3em;
}