.main {
  margin-left: 2em;
  margin-right: 2em;  
}

#button {
  width: 17%;
  margin-left: 33.5em;
  margin-top: 3.7em;
  margin-bottom: 3.7em; 
  background-color: #00D1B2; 
  border-radius: 20px;
}

.card {
  border-radius: 3px;
  padding: 20px;
}


.card-header {
  margin-bottom: 10px;
  font-weight: bold;
}

.date {
  text-align: right;
  font-size: small;
  padding-top: 10px;
}

#header {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 0.1em;
  margin-top: 0.9em;
  padding-bottom: 0.1em;  
  margin-bottom: 0.9em;
}

#header:hover {
  color: #00D1B2;
}

.footer {
  text-align: center;
  margin-top: 4em;
  padding: 10px;
}

.loading {
  margin-left: 344px;
  padding-top: 10px;
}

.media-left {
  display: inline-block;
}

.media-content {
  display: inline-block;
  padding-bottom: 3em;
}

.card-image {
  width : 10%;
}

#sub-header {
  font-size: 14px;
}

.html {
  margin-left: 14em;
  margin-right: 14em; 
}

.html p {
  padding: 1em;
}

.html img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.htmlStyling {
 font-size: 17px;
}

#thumb {
  height: 150px;
  width: 300px;
  border-radius: 3px;
  margin-top: 12px;
  margin-left: 37px;
  padding-bottom: 0.3em;
}